# Data Science Project

* Name: Author Name
* Email:

## TABLE OF CONTENTS


- **[Introduction](#INTRODUCTION)<br>**
- **[OBTAIN](#OBTAIN)**<br>
- **[SCRUB](#SCRUB)**<br>
- **[EXPLORE](#EXPLORE)**<br>
- **[MODEL](#MODEL)**<br>
- **[iNTERPRET](#iNTERPRET)**<br>
- **[Conclusions/Recommendations](#CONCLUSIONS-&-RECOMMENDATIONS)<br>**
___

# INTRODUCTION

> Explain the point of your project and what question you are trying to answer with your modeling.

# OBTAIN

In [2]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('pokemon.csv')

In [4]:
df.head()

            Name  Total  HP  Attack  Defence  Sp_attack  Sp_defence  Speed
0      Bulbasaur    318  45      49       49         65          65     45
1        Ivysaur    405  60      62       63         80          80     60
2       Venusaur    525  80      82       83        100         100     80
3  Mega Venusaur    625  80     100      123        122         120     80
4     Charmander    309  39      52       43         60          50     65

In [5]:
df.isna().sum()

Name          0
Total         0
HP            0
Attack        0
Defence       0
Sp_attack     0
Sp_defence    0
Speed         0
dtype: int64

In [12]:
df[df.duplicated(keep=False)]

                Name  Total  HP  Attack  Defence  Sp_attack  Sp_defence  Speed
420  Mega Castform X    420  70      70       70         70          70     70
421  Mega Castform X    420  70      70       70         70          70     70
571     Mega Rotom X    520  50      65      107        105         107     86
572     Mega Rotom X    520  50      65      107        105         107     86
573     Mega Rotom X    520  50      65      107        105         107     86
574     Mega Rotom X    520  50      65      107        105         107     86
868  Mega Oricorio X    476  75      70       70         98          70     93
869  Mega Oricorio X    476  75      70       70         98          70     93

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1040 entries, 0 to 1044
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1040 non-null   object
 1   Total       1040 non-null   int64
 2   HP          1040 non-null   int64
 3   Attack      1040 non-null   int64
 4   Defence     1040 non-null   int64
 5   Sp_attack   1040 non-null   int64
 6   Sp_defence  1040 non-null   int64
 7   Speed       1040 non-null   int64
dtypes: int64(7), object(1)
memory usage: 73.1+ KB

In [15]:
df.describe()

,Total,HP,Attack,Defence,Sp_attack,Sp_defence,Speed
count,1040.000000,1040.000000,1040.000000,1040.000000,1040.000000,1040.000000,1040.000000
mean,439.065385,70.121154,80.531731,74.576923,72.908654,72.193269,68.733654
std,122.179909,26.713263,32.477622,31.263940,32.748911,28.079396,30.259182
min,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,330.000000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000
50%,457.000000,68.000000,78.000000,70.000000,65.000000,70.000000,65.000000
75%,515.000000,83.000000,100.000000,90.000000,95.000000,90.000000,90.000000
max,1125.000000,255.000000,190.000000,250.000000,194.000000,250.000000,200.000000

# SCRUB

# EXPLORE

# MODEL

# iNTERPRET

# CONCLUSIONS & RECOMMENDATIONS

> Summarize your conclusions and bullet-point your list of recommendations, which are based on your modeling results.

# TO DO/FUTURE WORK

-